@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    
--red: hsl(0, 78%, 62%);
--cyan:hsl( 180, 62%, 55%);
--orange: hsl(34, 97%, 64%);
--blue: hsl(212, 86%, 64%);

--ff-family: 'Poppins', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-family);
    font-size: 15px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    width: 480px;
    height: 180px;
    text-align: center;
    margin-top: 10%;
}

p.main {
    font-weight: 400;
    font-size: 2rem;

}

p.tag1 {
    font-weight: 600;
    font-size: 2rem;
}

p.tag2 {
    font-weight: 200;
    font-size: 0.9rem;
}

.cards {
    width: auto;
    height: 420px; /*2 x card height + 20 px */
    display: grid;
    grid-template-rows: 10px 100px 90px 10px 10px 100px 100px;
    grid-template-columns: 300px 300px 300px;
    column-gap: 10px;

}

.card {
    width: 300px;
    height: 200px;
    position: relative;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 5px grey;
}


.card > img {
    width: 64px;
    height: auto;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.card.top--cyan {
    border-top: 3px solid var(--cyan);
    grid-row: 3 / 7;
    grid-column : 1 / 2; 

}

.card.top--red{
    border-top: 3px solid var(--red);
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}

.card.top--orange {
    border-top: 3px solid var(--orange);
    grid-column: 2 / 3;
    grid-row: 6 / -1;

}

.card.top--blue {
    border-top: 3px solid var(--blue);
    grid-column: 3 / -1;
    grid-row: 3 / 7; 
}

.role {
    font-weight: 600;
}

.desc {
    font-weight: 200;
    font-size: 0.9rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

